<!DOCTYPE>
<html>
	<style type="text/css" id="build-tileground">

	</style>
	<head>
		<title>Tile Play</title>
		<meta name="theme-color" content="#000000" />
		<link rel="shortcut icon" href="">
		<link rel="apple-touch-icon" href="">

		<link href="/css/tile.css" rel="stylesheet">
	</head>
	<body>
		<div id="background"></div>
		<div id="info">
			Star: <span id="star"></span> |
			contributor: <span id="contributor"></span>
		</div>
		<div id="toolbar" style="display: none;">
			<span><button id="button-save" onclick="saveData()">Save</button></span>
			<span><button id="button-red" onclick="setColor(this.id)"></button></span>
			<span><button id="button-blue" onclick="setColor(this.id)"></button></span>
			<span><button id="button-white" onclick="setColor(this.id)"></button></span>
			<span id="template-color"></span>
		</div>
		<div id="admin">
			<div id="login" style="display: none;">
				<span>Username: <input id="username" type="text" name="username"></span>
				<span>Password: <input id="password" type="password" name="password"></span>
				<span><button onclick="login()">Login</button></span>
			</div>
			<div id="logout" style="display: none;">
				<span><button onclick="logout()">Logout</button></span>
			</div>
		</div>
		<footer class="footer">
			<div class="copyright">Copyright &copy <a href="http://windisco.com">Windisco</a>.</div>
		</footer>
	</body>
	<script src="/js/main.js"></script>
</html>
